
<h1>
    {{ ( solicitud.id )? 'Editar' : 'Nueva' }}
    Solicitud
</h1>

<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="60" fxLayout="column">

        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" >
                <mat-label>Area</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="solicitud.superhero"
                       required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Cargo</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="solicitud.alter_ego"
                       required>
            </mat-form-field>
        </div>


        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="solicitud.first_appearance"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Area Destino</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="solicitud.characters"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo de Solicitud</mat-label>
            <mat-select [(ngModel)]="solicitud.publisher"
                        required>
                <mat-option *ngFor="let publisher of publishers"
                            [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripcion de solicitud</mat-label>
            <textarea matInput
                   type="text"
                   [(ngModel)]="solicitud.alt_img"
                   required>
            </textarea>
        </mat-form-field>

        <br>


        <div fxLayout>
            <button mat-raised-button
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ ( solicitud.id )? 'Actualizar' : 'Crear' }}
            </button>

            <span class="spacer"></span>

            <button *ngIf="solicitud.id"
                    mat-raised-button
                    (click)="borrarSolicitud()"
                    color="warn">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>


    </div>

    <div fxFlex="20">
        <!-- <img [src]="solicitud | imagen"> -->
    </div>

</div>