
<mat-card>
    <mat-card-header>
        <mat-card-title> {{ solicitud.usuarioActual.nombreArea }} </mat-card-title>
        <mat-card-subtitle> {{ solicitud.usuarioActual.nombreCargo }} </mat-card-subtitle>
    </mat-card-header>

    <!-- <img mat-card-image [src]="solicitud | imagen"> -->

    <mat-card-content>
        <h3>{{ solicitud.id005TipoSolicitud.name }}</h3>
        <p>
            <strong>Nombre: </strong> {{ solicitud.usuarioActual.nombresCompletos }}
            <br>
            <strong>Area Destino: </strong> {{ solicitud.usuarioDestino.nombreCargo }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button
                color="warn"
                [routerLink]="['/home', solicitud.idSolicitud ]">
            Leer más...
        </button>

        <button mat-button
                color="info"
                [routerLink]="['/home/editar', solicitud.idSolicitud ]">
            Editar
        </button>
    </mat-card-actions>

</mat-card>
