
<mat-grid-list cols="1" *ngIf="!solicitud; else divSolicitud">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divSolicitud>

    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px">

         <div fxFlex="50">
             <h1>{{ solicitud.area }} <small> -  {{ solicitud.area_cargo }} </small> </h1>
             <mat-divider></mat-divider>
             <br>
             <h2>Tipo de Solicitud: {{ solicitud.tipo }}</h2>
             <mat-divider></mat-divider>
             <mat-list>
                 <h3>Nombre:</h3>
                 <mat-list-item> {{ solicitud.nombre }} </mat-list-item>
                 <h3>Area Destino:</h3>
                 <mat-list-item> {{ solicitud.area_destino }} </mat-list-item>
                 <h3>Cargo:</h3>
                 <mat-list-item> {{ solicitud.area_cargo }} </mat-list-item>
                 <h3>Descripcion de solicitud:</h3>
                 <mat-list-item> {{ solicitud.descripcion }} </mat-list-item>
             </mat-list>
             <br>
             <br>
             <button mat-button
                     color="warn"
                     (click)="regresar()">
                 Regresar
             </button>
             <!-- <img [src]="solicitud | imagen"> -->
         </div>

    </div>


</ng-template>


