
<mat-grid-list cols="1" *ngIf="!solicitud; else divSolicitud">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divSolicitud>

    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px">

         <div fxFlex="50">
             <h1>{{ solicitud.superhero }} <small>- {{ solicitud.alter_ego }} </small> </h1>
             <mat-divider></mat-divider>
             <br>
             <img [src]="solicitud | imagen">
         </div>

         <div fxFlex="50">
             <h1>{{ solicitud.publisher }}</h1>
             <mat-divider></mat-divider>

             <mat-list>
                 <mat-list-item> {{ solicitud.first_appearance }} </mat-list-item>
                 <mat-list-item> {{ solicitud.characters }} </mat-list-item>
                 <mat-list-item> {{ solicitud.publisher }} </mat-list-item>
                 <mat-list-item> {{ solicitud.alter_ego }} </mat-list-item>
             </mat-list>

             <br>
             <button mat-button
                     color="warn"
                     (click)="regresar()">
                 Regresar
             </button>
         </div>

    </div>


</ng-template>


