
<mat-grid-list cols="1" *ngIf="!requerimiento; else divRequerimiento">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divRequerimiento>

    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px">

         <div fxFlex="50">
             <h1>{{ requerimiento.superhero }} <small> -  {{ requerimiento.alter_ego }} </small> </h1>
             <mat-divider></mat-divider>
             <br>
             <h2>Tipo de Requerimiento: {{ requerimiento.publisher }}</h2>
             <mat-divider></mat-divider>
             <mat-list>
                 <h3>Nombre:</h3>
                 <mat-list-item> {{ requerimiento.first_appearance }} </mat-list-item>
                 <h3>Area Destino:</h3>
                 <mat-list-item> {{ requerimiento.characters }} </mat-list-item>
                 <h3>Cargo:</h3>
                 <mat-list-item> {{ requerimiento.alter_ego }} </mat-list-item>
                 <h3>Descripcion de requerimiento:</h3>
                 <mat-list-item> {{ requerimiento.alt_img }} </mat-list-item>
             </mat-list>
             <br>
             <br>
             <button mat-button
                     color="warn"
                     (click)="regresar()">
                 Regresar
             </button>
         </div>

    </div>


</ng-template>


